In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_df = pd.read_csv(city_data_to_load)
ride_df = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
df = pd.concat([city_df,ride_df], axis=1)
# Display the data table for preview
df.head()

,city,driver_count,type,city,date,fare,ride_id
0,Richardfort,38.0,Urban,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873
1,Williamsstad,59.0,Urban,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577
2,Port Angela,67.0,Urban,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003
3,Rodneyfort,34.0,Urban,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178
4,West Robert,39.0,Urban,South Jack,2018-03-06 04:28:35,34.58,3908451377344

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()